html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #F5F5F5;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E5E5E5; }
  header:last-child {
    margin-right: 0; }

.octicon-mark-github {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 4.46619%;
  padding-top: 10px;
  font-size: 30px;
  color: #000; }
  .octicon-mark-github:last-child {
    margin-right: 0; }

.search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
  width: 400px;
  height: 23px;
  font-size: 12px; }
  .search:last-child {
    margin-right: 0; }

.navlinks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding-top: 14px; }
  .navlinks:last-child {
    margin-right: 0; }
  .navlinks a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    margin-right: 16px; }

.icons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30.0556%;
  margin-right: 0;
  padding-top: 14px;
  padding-left: 188px; }
  .icons:last-child {
    margin-right: 0; }
  .icons a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
    margin-right: 16px; }

.main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 20px; }
  .main:last-child {
    margin-right: 0; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  aside:last-child {
    margin-right: 0; }

.avatar {
  width: 254px;
  height: 254px;
  border-radius: 6px; }

aside .name {
  font-size: 27px;
  font-weight: bold;
  color: #333333; }

aside .username {
  font-size: 20px;
  color: #666666;
  font-weight: lighter; }

.octicon-location {
  font-size: 16px;
  color: #989898; }

hr {
  color: #EEEEEE; }

.location {
  font-size: 14px; }

.repos {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0; }
  .repos:last-child {
    margin-right: 0; }

article {
  border-bottom: 1px solid gray; }

.repos a {
  color: #4078C0;
  text-decoration: none;
  font-size: 20px; }

.repos time {
  color: #8C8C8C;
  font-size: 12px;
  font-weight: normal; }

.repos h3 {
  color: #8C8C8C;
  font-size: 12px;
  font-weight: normal; }
